nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
}

nav h2 {
    margin-left: 20px;
    color: white;
    font-size: 20pt;
}

.keun {
    font-size: 15pt;
}

nav button {
    margin-right: 20px;
    background-color: #fff;
    color: brown;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
}

.loginregister {
    min-height: 100vh;
    background-color: #f0f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cardlr {
    width: 50vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.cardlr label {
    margin-top: 10px;
}

.cardlr input {
    border-radius: 50px;
}

.cardlr button {
    margin-top: 20px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: blue;
    color: white;
}

.action-bar {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.btn-add {
    background-color: #6A4E42; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-add:hover {
    background-color: #8B5E3C; 
}


.kopi-container {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.kopi-card {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.kopi-card p {
    background-color: brown;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.kopi-image {
    width: 25vw;
    height: 30vh;
}

.btn-edit {
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #C97C5D;
}

.btn-delete {
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #B04A3F;
}

.body_tambah_kopi {
    min-height: 80vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-tambah-update {
    width: 50vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.card-tambah-update label {
    margin-top: 10px;
}

.card-tambah-update input {
    width: 20vw;
    border: #C7A17A;
    border-radius: 50px;
    color: #3E2C23;
    background-color: #F5E9DA;
    padding: 10px 10px;
    margin: 5px 0;
}

.card-tambah-update button {
    width: 20vw;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #6A4E42;
    color: white;
}

/* @media (max-width: 500px) {
    .kopi-container {
        flex-direction: column;
    }   
} */